{{!< default}}

<section class="tag-section">
  {{#tag}}
    <div class="tag-details">
      <h1><i class="icon-tags"></i><img src="{{image}}" height="50" width="50">&nbsp;{{name}}</h1>
    </div>
  {{/tag}}
</section>

<main>

  <section>
    {{#foreach posts}}
      {{> "post"}}
    {{/foreach}}
  </section>

</main>
